:root {
    --tonalidade-clara-roxo: #640f83;
    --tonalidade-escura-roxo: #550a71;
    --tonalidade-clara-azul: #1b2eb7;
    --tonalidade-escura-azul: #0a1ca4;

    --txt-branco: white;
    --txt-preto: black;

    --spacing: 0.25rem;
    --transition: all 0.2s linear;
    --dark-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.56);
}

/* Estilos Gerais */

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-family: "Roboto";
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.whatsapp-icon {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    font-size: 4rem;
    background-color: #01e675;
    color: white;
    border-radius: 50%;
    padding: 3px;
    width: 6rem;
    height: 6rem;
    text-align: center;
    text-decoration: none;
    z-index: 100;
    box-shadow: 2px 2px 2px #c0bdbd;
    transition: var(--transition);
}

.whatsapp-icon .fab {
    padding-top: 6px;
}

.whatsapp-icon:hover {
    transition: var(--transition);
    transform: scale(1.1);
    color: #029e3b;
    font-weight: 900;
    box-shadow: 2px 2px 20px #5fe690;
}

/* Navbar */

.navbar {
    padding-top: 1.2rem;
    position: fixed;
    width: 100%;
    z-index: 3;
    transition: var(--transition);
    background: linear-gradient(8deg, rgb(54, 54, 184), rgb(160, 52, 160));
}

.navbar.scrolled {
    background-color: #00000042;
    transition: var(--transition);
    backdrop-filter: blur(8px);
}

.navbar-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-logo {
    width: 28rem;
}

.navbar-button {
    font-size: 3.4rem;
    border: none;
    color: white;
    background: none;
    cursor: pointer;
    transition: var(--transition);
}

.navbar-button:hover {
    background: linear-gradient(100deg, var(--tonalidade-clara-azul), var(--tonalidade-clara-roxo));
    -webkit-background-clip: text;
    color: transparent;
    transform: scale(1.15);
    transition: var(--transition)
}

.navbar-list {
    height: 0;
    overflow: hidden;
    list-style: none;
    transition: var(--transition);
    text-align: center;
    padding-right: 4rem;
    background: white;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    justify-content: right;
}

.navbar-list--show-links {
    height: 32rem;
    padding: 0;
}

.navbar-list-link {
    display: block;
    font-size: 1.9rem;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
    padding: 1.6rem;
    color: var(--tonalidade-clara-roxo);
    transition: var(--transition);
}

.navbar-list-link:hover {
    background: var(--tonalidade-clara-roxo);
    color: white;
    transition: 0.5s;
}

/* Navbar Large Size (1024px) */

@media screen and (min-width: 1024px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.4rem 2rem;
    }

    .navbar.scrolled {
        background-color: #000000a1;
    }

    .navbar-logo {
        width: 22rem;
    }

    .navbar-button {
        display: none;
    }

    .navbar-list {
        height: auto;
        display: flex;
        flex-wrap: nowrap;
        background: none;
        padding: 1rem 0;
    }

    .navbar-list-link {
        font-size: 1.8rem;
        padding: 1.2rem;
        color: white;
    }

    .navbar-list-link:hover {
        background: none;
    }

    ul.navbar-list li:nth-child(-n+5):hover {
        background-color: rgb(120, 42, 139);
        transition: 0.3s linear;
        border-radius: 4px;
    }

    ul.navbar-list li:nth-child(6) {
        transition: 0.3s;
    }

    ul.navbar-list li:nth-child(6):hover {
        transform: scale(1.1);
        transition: 0.3s;
    }

    .budget {
        padding: 1.2rem 1rem;
        border-radius: 4px;
        background: linear-gradient(-170deg, var(--tonalidade-clara-azul), var(--tonalidade-escura-roxo));
        color: white;
    }
}

@media screen and (min-width: 1098px) {

    .navbar-list-link {
        padding: 1.2rem 2rem;
    }
}


@media screen and (min-width: 1198px) {

    .navbar-logo {
        width: 20rem;
    }

    .navbar-list-link {
        justify-content: space-between;
        padding: 1.9rem 2.8rem;
    }
}

@media screen and (min-width: 1260px) {

    .navbar-logo {
        width: 26rem;
    }
}

/* Content */

.content {
    flex-direction: row;
    text-align: center;
    margin: 0 3rem;
    padding-top: 6rem;
}

.content-title {
    margin-top: 3rem;
    color: #7227d3;
    font-size: 3rem;
    font-weight: 800;
}

.content-items {
    display: flex;
    flex-direction: column;
}

.content-text {
    text-align: left;
    background: rgb(241, 241, 241);
    border-radius: 1.6rem;
    padding: 0.6rem;
    margin-bottom: 2rem;
}

.content-items h2 {
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 2.5rem;
    text-align: left;
    margin-bottom: 2rem;
}

.content-button {
    height: 4rem;
    width: 24rem;
    border-radius: 20px;
    border: transparent;
    background: #7227d3;
    color: white;
    font-weight: 400;
    font-size: 1.8rem;
    margin-bottom: 3rem;
    cursor: pointer;
    transition: var(--transition);
}

.content-button:hover {
    transform: scale(1.1);
    transition: var(--transition);
}

.content-items a {
    text-align: left !important;
    margin-bottom: 7rem;
    width: 323px;
    margin: 2rem auto;
    margin-top: 0;
}

.line {
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 2rem 0;
    font-size: 1.8rem;
    color: #7227d3;
}

.benefits-item {
    background: rgb(241, 241, 241);
    border-radius: 1.6rem;
    margin: 1rem 2rem;
}

.content-benefits {
    margin-top: 8rem;
    text-align: center;
}

.benefits-subtitles {
    font-size: 2.4rem;
    max-width: 30rem;
    font-weight: 400;
    color: #7227d3;
    text-align: center;
    margin: 0 auto;
    margin-top: 0.8rem;
}

.content-benefits p {
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 2.5rem;
    text-align: center;
    margin-bottom: 3rem;
    padding: 2rem;
    padding-bottom: 0;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.benefits-icon {
    width: 90px;
    margin-top: 1rem;
}

.benefits-description {
    text-align: left !important;
    margin-left: 1rem;
    margin-top: 0;
    padding-top: 0 !important;
    line-height: 2.5rem;
}

@media screen and (min-width: 1024px) {

    .content-title {
        margin-top: 4rem;
        font-size: 4.4rem;
    }

    .content-image {
        width: 450px;
    }

    .content-items {
        display: flex;
        flex-direction: row;
    }

    .content-items h2 {
        margin-top: 3rem;
        font-size: 2.2rem;
        line-height: 2.8rem;
    }

    .content-group {
        display: flex;
        flex-direction: column;
    }

    .content-items a {
        margin: 0;
    }

    .content-button {
        height: 5rem;
        width: 27rem;
        font-size: 2.2rem;
        border-radius: 24px;
    }

    .container-benefits {
        display: flex;
        flex-direction: row;
        margin: 0 2rem;
    }

    .content-benefits .content-items {
        display: flex;
        flex-direction: column;
    }

    .benefits-item {
        width: 25%;
    }

    .benefits-description {
        margin: 8rem;
        text-align: justify;
        font-size: 2.2rem;
    }

    .content-button-2 {
        height: 6rem;
        width: 29rem;
        border-radius: 30px;
    }
}

@media screen and (min-width: 1198px) {

    .content-title {
        margin-top: 7rem;
        font-size: 4.8rem;
    }

    .content-image {
        width: 550px;
    }

    .content-items h2 {
        margin-top: 3rem;
        font-size: 2.6rem;
        line-height: 3.2rem;
    }

    .content-button {
        height: 6rem;
        width: 29rem;
        font-size: 2.4rem;
        border-radius: 30px;
    }

    .benefits-description {
        margin: 8rem;
        text-align: justify;
        font-size: 2.4rem !important;
    }
}

@media screen and (min-width: 1400px) {

    .content-image {
        width: 600px;
    }

    .content-items h2 {
        margin-top: 3rem;
        font-size: 2.6rem;
        line-height: 3.2rem;
        margin-right: 12rem;
    }

    .content-button {
        height: 6rem;
        width: 29rem;
        font-size: 2.4rem;
        border-radius: 30px;
    }

    .benefits-description {
        margin: 8rem;
        text-align: justify;
        font-size: 2.6rem !important;
        font-weight: 200 !important;
    }
}

@media screen and (min-width: 1520px) {

    .content-items h2 {
        margin-top: 3rem;
        font-size: 2.6rem;
        line-height: 3.2rem;
    }

    .content-group {
        padding: 0 8rem;
    }

    .content-button {
        height: 6rem;
        width: 29rem;
        font-size: 2.4rem;
        border-radius: 30px;
    }

    .benefits-description {
        margin: 24rem;
        text-align: center !important;
        font-size: 2.6rem !important;
        font-weight: 200 !important;
        line-height: 3.2rem !important;
    }
}

@media screen and (min-width: 1700px) {

    .content-group {
        margin-top: 5rem;
    }

    .content-items h2 {
        font-weight: 200 !important;
        margin-top: 3rem;
        font-size: 2.6rem;
        line-height: 3.2rem;
    }

    .content-group {
        padding: 0 18rem;
    }

    .content-image {
        padding-right: 18rem;
        width: 700px;
    }

    .content-button {
        height: 6rem;
        width: 29rem;
        font-size: 2.4rem;
        border-radius: 30px;
    }

    .benefits-description {
        margin: 24rem;
        text-align: center !important;
        font-size: 2.6rem !important;
        font-weight: 200 !important;
        line-height: 3.2rem !important;
    }
}

/* Footer */

.footer {
    background: linear-gradient(8deg, rgb(54, 54, 184), rgb(160, 52, 160));
    width: 100%;
    font-size: 1.4rem;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    padding: 7.2rem 0;
}

.footer-list, .footer-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1rem;
}

.footer-link {
    color: white;
    padding: 1rem;
    line-height: 2.2rem;
    text-decoration: none;
    transition: var(--transition);
    font-size: 1.7rem;
}

.footer-link:hover {
    color: #7e8192;
}

.footer-icons {
    margin: 3rem 0;
}

.footer-icon {
    color: white;
    margin-right: 1.6rem;
    font-size: 2.8rem;
    transition: var(--transition);
}

.footer-icon:hover {
    color: var(--tonalidade-clara-azul);
}

.direitos {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.copyright {
    color: white;
    text-transform: capitalize;
}

/* Hiddem Items */

.hiddenLeft {
    opacity: 0;
    filter: blur(15px); /* Efeito borrado */
    transform: translateX(-100%); /* Efeito esquerda para a direita */
    transition: all 1s;
}

.hiddenRight {
    opacity: 0;
    filter: blur(15px); /* Efeito borrado */
    transform: translateX(100%); /* Efeito direita para a esquerda */
    transition: all 1s;
}

.hiddenTop {
    opacity: 0;
    filter: blur(15px); /* Efeito borrado */
    transform: translateY(-100%); /* Efeito de cima para baixo */
    transition: all 1s;
}

.hiddenBottom {
    opacity: 0;
    filter: blur(15px); /* Efeito borrado */
    transform: translateY(100%); /* Efeito de baixo para cima */
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1s;
}

.content-group {
    transition-delay: 200ms;
}

.content-image {
    transition-delay: 400ms;
}

.content-benefits .content-title:nth-child(1) {
    transition-delay: 600ms;
}